apistar==0.5.40
apistar-cors-hooks==0.1.1
astroid==2.0.1
atomicwrites==1.1.5
attrs==18.1.0
blessings==1.7
bpython==0.17.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
coreapi==2.3.3
coreschema==0.0.4
curtsies==0.3.0
decorator==4.2.1
dj-database-url==0.5.0
Django==2.0.7
django-apistar==0.5.40.post0
django-extensions==2.0.6
django-heroku==0.3.1
greenlet==0.4.14
gunicorn==19.7.1
idna==2.7
ipdb==0.11
ipython==6.2.1
ipython-genutils==0.2.0
isort==4.3.4
itypes==1.1.0
jedi==0.11.1
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
model-mommy==1.5.1
more-itertools==4.2.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
pluggy==0.7.1
prompt-toolkit==1.0.15
psycopg2==2.7.4
ptyprocess==0.5.2
py==1.5.4
Pygments==2.2.0
pylint==2.0.1
pytest==3.6.4
pytz==2018.5
PyYAML==3.13
requests==2.19.1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
typed-ast==1.1.0
typing==3.6.4
uritemplate==3.0.0
urllib3==1.23
wcwidth==0.1.7
Werkzeug==0.15.3
whitenoise==3.3.1
wrapt==1.10.11
wsgicors==0.7.0
